.mod_header {
    position: relative;
    z-index: 4;
    width: 100%;
    height: 90px;
    margin: 0 auto;
}

.title-1 {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.note-list {
    margin: 50px;
    left: 50px;
    right: 50px;
    background-color: white;
    border-radius: 8px;
}

.note-1-title {
    text-align: center;
    font-size: 36px;
    color: #00f99f;
    background-color: #0b151a;
    height: 150px;
    padding-top: 90px;
    border-radius: 8px;
}

.note-link-1 {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    display: block;
    text-decoration: none;
    text-align: left;
    font-size: 36px;
    color: black;
    border-bottom:  2px solid #f2f2f2;
}

.note-link-1:hover {
    padding-top: 25px;
    display: block;
    text-decoration: none;
    text-align: left;
    font-size: 36px;
    background-color: #f9fafc;
}